# Created on Sun Apr 26 2020
#
# Base entity related messages.
# This file is resposible for storing all the base prot
#
# @authors nirajgeorgian@oojob.io (Niraj Kishore)
#
# Copyright (c) 2020 - oojob

* @nirajgeorgian

*.go @nirajgeorgian
